/**
 *	main.css
 *  
 *  general styles
 *
**/
/*reset*/
body, html, #page-wrapper {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	overflow-x: hidden;
}

body {
	color: #d8e3e9;
	font: 12px "Droid Serif", sans-serif;
	background: #1b1b1b;
	padding-bottom: 40px;
}

h1, h2 {
	font-family: "Roboto Slab", serif;
}

a, a:visited {
	color: #f78e1e;
	font-style: italic;
}

h1.entry-title a {
	color: #d8e3e9 !important;
	font-family: "Roboto Slab", serif;
}

/* Floating top nav */
.masthead {
	height: 40px;
	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
}
.masthead a { font-style: normal !important; }

.head-nav, .head-misc {
	height: inherit;
	vertical-align: middle;
}
.head-nav > a, .btn-sponsor a {
	display: block;
	margin-top: 10px;
}
.head-nav > a:hover, .head-misc > a { text-decoration: none; }

.head-nav {
	width: 55%;
	float: left;
	background: #000;
}

.head-nav > a {
	color: #d8e3e9;
	font-size: 1.5em;
	margin-top: 12px;
	margin-left: 12px;
}

.head-misc { background: #000; }

.btn-sponsor {
	width: 45%;
	float: right;
	text-align: center;
	background: #f78e1e;
	
	background: rgba(247,142,30,1);
	background: -moz-linear-gradient(top, rgba(247,142,30,1) 0%, rgba(247,142,30,1) 1%, rgba(245,173,101,1) 49%, rgba(247,142,30,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,142,30,1)), color-stop(1%, rgba(247,142,30,1)), color-stop(49%, rgba(245,173,101,1)), color-stop(100%, rgba(247,142,30,1)));
	background: -webkit-linear-gradient(top, rgba(247,142,30,1) 0%, rgba(247,142,30,1) 1%, rgba(245,173,101,1) 49%, rgba(247,142,30,1) 100%);
	background: -o-linear-gradient(top, rgba(247,142,30,1) 0%, rgba(247,142,30,1) 1%, rgba(245,173,101,1) 49%, rgba(247,142,30,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,142,30,1) 0%, rgba(247,142,30,1) 1%, rgba(245,173,101,1) 49%, rgba(247,142,30,1) 100%);
	background: linear-gradient(to bottom, rgba(247,142,30,1) 0%, rgba(247,142,30,1) 1%, rgba(245,173,101,1) 49%, rgba(247,142,30,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f78e1e', endColorstr='#f78e1e', GradientType=0 );
}

.btn-sponsor a {
	color: #fff;
	font: bold 1.2em "Roboto Slab", serif;
	text-transform: uppercase;
}

/* logo */
#logo {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	background-color: #333;
	margin-top: 12px;
}
#logo p {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	left: 0;
	top: 0;
	font-size: 2.5em;
	font-family: 'Josefin Sans', sans-serif;
   	text-align: center;
   	text-transform: uppercase;
	color: #d8e3e9;
   	text-shadow: #F78E1E -2px 2px 0px;
	padding-top: 15px;
	padding-bottom: 10px;
}

/* footer */
footer {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
}

